<div class="carousel-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://e0.pxfuel.com/wallpapers/608/1007/desktop-wallpaper-the-godfather-and-background-the-godfather-movie-poster.jpg" style="width: 100%x; height: auto;" class="d-block" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://c4.wallpaperflare.com/wallpaper/227/848/982/prometheus-movie-posters-1920x1200-entertainment-movies-hd-art-wallpaper-preview.jpg" class="d-block" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://dvvy6louqcr7j.cloudfront.net/vista/HO00014225/heroPoster/The-Equalizer-3.png"  alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

