.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ec1616, #000000, #ff0707, #111011);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #FF0000, #8B0000, #000000);
}
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

    .body{
        background-color: black;


    }

    .gradient-text {
        background: linear-gradient(to right, #FF0000, #8B0000, #000000);
        -webkit-background-clip: text; /* Apply the gradient as a text fill (for webkit browsers) */
        color: transparent; /* Make the text color transparent so the gradient shows through */
    }
    